*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  width: 1440px;
  height: 1024px;
  background-color: #9C835F;
}

#header {
  display: flex;
  align-items: center;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  font-style: normal;
  text-transform: uppercase;
}

.symbol {
  width: 55px;
  height: 87px;
  font-size: 72px;
  margin-left: 25px;
  margin-top: -21.5px;
  color: #724C21;
}

.logo {
  width: 72px;
  height: 72px;
  margin-left: 10px;
}

.title {
  width: 410px;
  height: 62px;
  font-size: 36px;
  margin-left: 20px;
  color: #F9B23D;
}

#app {
  display: flex;
  align-items: center;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  font-style: normal;
  text-transform: uppercase;
  margin-top: 120px;
  margin-left: 33px;
}

.player-one {
  position: absolute;
  width: 299px;
  height: 94px;
  font-size: 36px;
  top: 162px;
  left: 343px;
  word-spacing: 1px;
  color: black;
}

.player-img {
  display: flex;
  flex-direction: column;
  margin-left: 315px;
}

.rock-player {
  width: 128px;
  height: 92px;
  top: 267px;
  left: 382px;
  margin-top: 40px;
  margin-bottom: 40px;
}

.rock-player:hover {
  cursor: pointer;
  transition: cubic-bezier(0.215, 0.610, 0.355, 1) ease-in-out;
  -webkit-transition: cubic-bezier(0.215, 0.610, 0.355, 1) ease-in-out;
  -moz-transition: cubic-bezier(0.215, 0.610, 0.355, 1) ease-in-out;
  -ms-transition: cubic-bezier(0.215, 0.610, 0.355, 1) ease-in-out;
  -o-transition: cubic-bezier(0.215, 0.610, 0.355, 1) ease-in-out;
  transform: scale(110%);
  -webkit-transform: scale(110%);
  -moz-transform: scale(110%);
  -ms-transform: scale(110%);
  -o-transform: scale(110%);
}

.paper-player {
  width: 115px;
  height: 150px;
  top: 440px;
  left: 388px;
  margin-bottom: 40px;
}

.paper-player:hover {
  cursor: pointer;
  transition: cubic-bezier(0.215, 0.610, 0.355, 1) ease-in-out;
  -webkit-transition: cubic-bezier(0.215, 0.610, 0.355, 1) ease-in-out;
  -moz-transition: cubic-bezier(0.215, 0.610, 0.355, 1) ease-in-out;
  -ms-transition: cubic-bezier(0.215, 0.610, 0.355, 1) ease-in-out;
  -o-transition: cubic-bezier(0.215, 0.610, 0.355, 1) ease-in-out;
  transform: scale(110%);
  -webkit-transform: scale(110%);
  -moz-transform: scale(110%);
  -ms-transform: scale(110%);
  -o-transform: scale(110%);
}

.scissors-player {
  width: 134px;
  height: 160px;
  top: 671px;
  left: 369px;
}

.scissors-player:hover {
  cursor: pointer;
  transition: cubic-bezier(0.215, 0.610, 0.355, 1) ease-in-out;
  -webkit-transition: cubic-bezier(0.215, 0.610, 0.355, 1) ease-in-out;
  -moz-transition: cubic-bezier(0.215, 0.610, 0.355, 1) ease-in-out;
  -ms-transition: cubic-bezier(0.215, 0.610, 0.355, 1) ease-in-out;
  -o-transition: cubic-bezier(0.215, 0.610, 0.355, 1) ease-in-out;
  transform: scale(110%);
  -webkit-transform: scale(110%);
  -moz-transform: scale(110%);
  -ms-transform: scale(110%);
  -o-transform: scale(110%);
}

.versus {
  position: absolute;
  width: 296px;
  height: 186px;
  font-size: 144px;
  top: 242px;
  left: 615px;
  line-height: 196px;
  letter-spacing: 0.1em;
  color: #BD0000;
}

.result-text {
  display: none;
  position: absolute;
  width: 296px;
  height: 186px;
  left: 588px;
  top: 381.37px;
  font-size: 38px;
  line-height: 52px;
  text-align: center;
  letter-spacing: 0.1em;
  color: #FFFFFF;
  transform: rotate(-30.98deg);
  -webkit-transform: rotate(-30.98deg);
  -moz-transform: rotate(-30.98deg);
  -ms-transform: rotate(-30.98deg);
  -o-transform: rotate(-30.98deg);
}

.result-win, .result-draw {
  display: none;
  background-color: #4C9654;
  position: absolute;
  top: 385px;
  left: 566px;
  width: 271.11px;
  height: 166.93px;
  transform: rotate(-28.87deg);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  -webkit-transform: rotate(-28.87deg);
  -moz-transform: rotate(-28.87deg);
  -ms-transform: rotate(-28.87deg);
  -o-transform: rotate(-28.87deg);
}

.result-draw {
  background-color: #035B0C;
}

.com {
  position: absolute;
  width: 299px;
  height: 94px;
  font-size: 36px;
  top: 162px;
  left: 965px;
  word-spacing: 1px;
  color: black;
}

.com-img {
  display: flex;
  flex-direction: column;
  margin-left: 464px;
}

.rock-com {
  width: 128px;
  height: 92px;
  top: 267px;
  left: 951px;
  margin-top: 40px;
  margin-bottom: 40px;
}

.rock-com:hover {
  cursor: pointer;
  transition: cubic-bezier(0.215, 0.610, 0.355, 1) ease-in-out;
  -webkit-transition: cubic-bezier(0.215, 0.610, 0.355, 1) ease-in-out;
  -moz-transition: cubic-bezier(0.215, 0.610, 0.355, 1) ease-in-out;
  -ms-transition: cubic-bezier(0.215, 0.610, 0.355, 1) ease-in-out;
  -o-transition: cubic-bezier(0.215, 0.610, 0.355, 1) ease-in-out;
  transform: scale(110%);
  -webkit-transform: scale(110%);
  -moz-transform: scale(110%);
  -ms-transform: scale(110%);
  -o-transform: scale(110%);
}

.paper-com {
  width: 115px;
  height: 150px;
  top: 440px;
  left: 970px;
  margin-bottom: 40px;
}

.paper-com:hover {
  cursor: pointer;
  transition: cubic-bezier(0.215, 0.610, 0.355, 1) ease-in-out;
  -webkit-transition: cubic-bezier(0.215, 0.610, 0.355, 1) ease-in-out;
  -moz-transition: cubic-bezier(0.215, 0.610, 0.355, 1) ease-in-out;
  -ms-transition: cubic-bezier(0.215, 0.610, 0.355, 1) ease-in-out;
  -o-transition: cubic-bezier(0.215, 0.610, 0.355, 1) ease-in-out;
  transform: scale(110%);
  -webkit-transform: scale(110%);
  -moz-transform: scale(110%);
  -ms-transform: scale(110%);
  -o-transform: scale(110%);
}

.scissors-com {
  width: 134px;
  height: 160px;
  top: 671px;
  left: 951px;
}

.scissors-com:hover {
  cursor: pointer;
  transition: cubic-bezier(0.215, 0.610, 0.355, 1) ease-in-out;
  -webkit-transition: cubic-bezier(0.215, 0.610, 0.355, 1) ease-in-out;
  -moz-transition: cubic-bezier(0.215, 0.610, 0.355, 1) ease-in-out;
  -ms-transition: cubic-bezier(0.215, 0.610, 0.355, 1) ease-in-out;
  -o-transition: cubic-bezier(0.215, 0.610, 0.355, 1) ease-in-out;
  transform: scale(110%);
  -webkit-transform: scale(110%);
  -moz-transform: scale(110%);
  -ms-transform: scale(110%);
  -o-transform: scale(110%);
}

.refresh {
  position: absolute;
  width: 77px;
  height: 71px;
  margin-left: 676px;
}

.refresh:hover {
  cursor: pointer;
  transition: cubic-bezier(0.215, 0.610, 0.355, 1) ease-in-out;
  -webkit-transition: cubic-bezier(0.215, 0.610, 0.355, 1) ease-in-out;
  -moz-transition: cubic-bezier(0.215, 0.610, 0.355, 1) ease-in-out;
  -ms-transition: cubic-bezier(0.215, 0.610, 0.355, 1) ease-in-out;
  -o-transition: cubic-bezier(0.215, 0.610, 0.355, 1) ease-in-out;
  transform: scale(110%);
  -webkit-transform: scale(110%);
  -moz-transform: scale(110%);
  -ms-transform: scale(110%);
  -o-transform: scale(110%);
}